Service References/ServiceReference5/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SLSOCserver" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="ud" nillable="true" type="q1:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComTimetables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComTimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetComTimetablesResult" nillable="true" type="q2:ArrayOfTimetablesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusTimetables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusTimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetBusTimetablesResult" nillable="true" type="q3:ArrayOfTimetablesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngTimetables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngTimetablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="GetEngTimetablesResult" nillable="true" type="q4:ArrayOfTimetablesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SLSOCserver" minOccurs="0" name="fbd" nillable="true" type="q5:Feedbacksc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFeedbackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>