Service References/ServiceReference5/SLSOCserver.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SLSOCserver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SLSOCserver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfTimetablesc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timetablesc" nillable="true" type="tns:Timetablesc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimetablesc" nillable="true" type="tns:ArrayOfTimetablesc" />
  <xs:complexType name="Timetablesc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Batch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lechall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lecname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timetablesc" nillable="true" type="tns:Timetablesc" />
  <xs:complexType name="Feedbacksc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Faculty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedbacksc" nillable="true" type="tns:Feedbacksc" />
</xs:schema>